/* 
 * A4 page size
 */
 
@import "base-dita.css";

 @page {
  size:   210mm 297mm;
  margin-left: 6pc;
  margin-right: 6pc;
  counter-increment: myPage;
  counter-reset: footnote;  

  @footnote {
    width: 100%;
    border-top: 0.5pt solid black;
    margin-top: 0.5in;
    border-length: 0.5in;
  }

}
 
 @page:left {

  @top-left {
    font-size: 9pt;
    content: "Heading 1: " /*string(heading1)*/;
    background-color: pink;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }

  @top-center {
    font-size: 9pt;
    background-color: green;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }
  
  @top-right {
    font-size: 9pt;
    content: "Heading 2: " /*string(heading2)*/;
    background-color: yellow;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }

  @bottom-left {
    content: 'Page ' counter(myPage);
    vertical-align: top;
    border-top: 1pt black solid;
    margin-top: 15mm;
    padding-top: 2mm;
  }

  @left-middle {
    content: 'Edge Text';
    background-color: tan;
    margin-right: 3pc;
/*    transform: rotate(-90deg);*/
  }

 }
 
 @page:right {

  @top-right {
    font-size: 9pt;
    content: "Heading 1: " /*string(heading1)*/;
    background-color: pink;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }

  @top-center {
    font-size: 9pt;
    background-color: green;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }
  
  @top-left {
    font-size: 9pt;
    content: "Heading 2: " /*string(heading2)*/;
    background-color: yellow;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }

  @bottom-right {
    content: 'Page ' counter(myPage);
    vertical-align: top;
    border-top: 1pt black solid;
    margin-top: 15mm;
    padding-top: 2mm;
  }

  @right-middle {
    content: 'Edge Text';
    background-color: tan;
    margin-left: 3pc;
/*    transform: rotate(-90deg);*/
  }

 }
 