/* 
 * A4 page size
 */
 
@import "base-dita.css";

 @page {
  size:   210mm 297mm;
  margin-left: 6pc;
  margin-right: 6pc;
  counter-increment: myPage;
  counter-reset: footnote;  

  @footnote {
    width: 100%;
    border-top: 0.5pt solid black;
    margin-top: 0.5in;
    border-length: 0.5in;
  }

}
 
 @page:blank {
  size:   210mm 297mm;
  margin-left: 6pc;
  margin-right: 6pc;
  counter-increment: myPage;
  counter-reset: footnote;  


  @top-left {
    content: '\a0';
  }
  @top-right {
    content: '\a0';
  }
  @bottom-left {
    content: '\a0';
  }
  @bottom-right {
    content: '\a0';
  }
  @left-middle {
    content: '\a0';
  }
  @right-middle {
    content: '\a0';
  }
}
@page front-cover {
  size:   210mm 297mm;
  margin-left: 2pc;  
  margin-right: 2pc;  
  margin-top: 2pc;  
  margin-bottom: 2pc;  
  @top-left {
    content: '\a0';
  }
  @top-right {
    content: '\a0';
  }
  @bottom-left {
    content: '\a0';
  }
  @bottom-right {
    content: '\a0';
  }
  @left-middle {
    content: '\a0';
  }
  @right-middle {
    content: '\a0';
  }
} 
 
@page back-cover {
  size:   210mm 297mm;
  margin-left: 2pc;  
  margin-right: 2pc;  
  margin-top: 2pc;  
  margin-bottom: 2pc;  
  @top-left {
    content: '\a0';
  }
  @top-right {
    content: '\a0';
  }
  @bottom-left {
    content: '\a0';
  }
  @bottom-right {
    content: '\a0';
  }
  @left-middle {
    content: '\a0';
  }
  @right-middle {
    content: '\a0';
  }
} 
  
 @page:left {

  @top-left {
    font-size: 9pt;
    content: "Heading 1: " /*string(heading1)*/;
    background-color: pink;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }

  @top-center {
    font-size: 9pt;
    background-color: green;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }
  
  @top-right {
    font-size: 9pt;
    content: "Heading 2: " /*string(heading2)*/;
    background-color: yellow;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }

  @bottom-left {
    content: 'Page ' counter(myPage);
    vertical-align: top;
    border-top: 1pt black solid;
    margin-top: 15mm;
    padding-top: 2mm;
  }

  @left-middle {
    content: 'Edge Text';
    background-color: tan;
    margin-right: 3pc;
/*    transform: rotate(-90deg);*/
  }

 }
 
 @page:right {

  @top-right {
    font-size: 9pt;
    content: "Heading 1: " /*string(heading1)*/;
    background-color: pink;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }

  @top-center {
    font-size: 9pt;
    background-color: green;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }
  
  @top-left {
    font-size: 9pt;
    content: "Heading 2: " /*string(heading2)*/;
    background-color: yellow;
    vertical-align: bottom;
    padding: 2mm;
    border-bottom: 2pt blue solid;
    margin-bottom: 10mm;
  }

  @bottom-right {
    content: 'Page ' counter(myPage);
    vertical-align: top;
    border-top: 1pt black solid;
    margin-top: 15mm;
    padding-top: 2mm;
  }

  @right-middle {
    content: 'Edge Text';
    background-color: tan;
    margin-left: 3pc;
/*    transform: rotate(-90deg);*/
  }

 }
 

/*
 * ============================ 
 * Covers
 * ============================
 */ 
 
article.front-cover {
  break-after: right;
  page-break-after: right;
  page: front-cover;
} 

article.front-cover .publication-title
{
  font-size: 42pt;
  font-weight: bold;
  display: block;
  margin-top: 2in;
  margin-left: 2in;
  margin-bottom: 3in;  
}


article.front-cover > .author:before 
{
  content: "By: ";
  display: inline;
  font-weight: bold;
}

article.front-cover > .topicmeta 
{
  display: block;
  position: absolute;
  bottom: 1pt;
  right: 1pt;
}
article.front-cover  .publisher:before 
{
  content: "Publisher: ";
  display: inline;
  font-weight: bold;
}

article.back-cover {
  break-before: left;
  page-break-before: left;
  page: back-cover;
} 

